/*style.css agregado para los cambios de las entregas*/


.producto{ /*products.html*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.producto img{ /*products.html*/
    width: 140px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin-right: 20px;
}

.contInfo{ /*products.html*/
    flex: 1;
    background-color: #F9F9F9;
}

.info{ /*products.html*/
    margin-left: 20px;
    margin-top: 10px;
}

.info h3{ /*products.html*/
    margin: 5px 0 0;
    color: #555;
}

.detalles{ /*products.html*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    font-weight: bold;
    margin-right: 20px;
    font-size: 1.5ex;
}

    .producto {
    flex-direction: column;
    align-items: stretch; 
  }

  .imgProducto {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  .imgProducto img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  .descripcionProducto {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .descripcion,
  .detalles {
    width: 100%;
  }

  .detalles {
    margin-top: 5px;
  }
